<div class="container">
    <div ng-controller="usersController">
    	<div class="row underBorder">
    	    <div class="six">
    	        <h3>Welcome <span ng-bind="user.first_name"></span></h3>
    	    </div>
    	    <div class="four">
    	        <a ng-click="logOut()" class="btn btn2">Log Out</a>
    	    </div>
          <img src="back.jpg" ng-click="goBack()" class="back1">
    	</div>
    </div>
    <div class="home">
        <div id="pic">
              <a href="#/budget">
                  <div id="P1" class="pic1"><h2 class="heady2">Budget My Life</h2> </div></a>
              <a href="#/car">
                  <div id="P2" class="pic1"><h2 class="heady2">Dream Car</h2> </div></a>
              <a href="#/house">
                  <div id="P3" class="pic1"><h2 class="heady2">Mortgage Payment</h2></div></a>
              <a href="#/retire">
                  <div id="P4" class="pic1"><h2 class="heady2">401k / Retirement</h2></div></a>
              <a href="#/mutual">
                  <div id="P5" class="pic1"><h2 class="heady2">Mutual Funds</h2></div></a>
              <a href="#/invest">
                <div id="P6" class="pic1"><h2 class="heady2">Investments</h2></div></a>
          </div>
    </div>
</div>

