<div class="container">
<div ng-controller="usersController">
	<div class="row underBorder">
	    <div class="six">
	        <h3><span ng-bind="user.first_name"></span> could you afford your Dream House?</h3>
	    </div>
	    <div class="four">
	        <a ng-click="logOut()" class="btn btn5">Log Out</a>
	    </div>
	    <img src="back.jpg" ng-click="goBack()" class="back1">
	</div>
</div>
<h1 class="center">House Estimate</h1>
<img class="pix11 center" src="pix1.jpg" alt="">
	<div ng-controller="budgetController">
		<table class="bordered">
		  <thead>
		    <tr>
		        <th data-field="id">Item</th>
		        <th data-field="price">Expense</th>
		    </tr>
		  </thead>

		  <tbody>
		  	<form>
		    <tr class="trtr">
		      <td>House Value</td>
		      <td>$<input type="number" ng-model="pv"/></td>
		    </tr>
		    <tr>
		      <td>Down Payment (optional)</td>
		      <td>$<input type="number" ng-model="downp"/></td>
		    </tr>
		    <tr>
		      <td>APR / Rate</td>
		      <td>%<input type="number" ng-model="apr"/></td>
		    </tr>
		    <tr>
		      <td>Loan Term / Years</td>
		      <td>yrs<input type="number" ng-model="yr"/></td>
		    </tr>
		  </tbody>
		  </form>
		</table>

		<br>

		<table class="bordered pushdown" ng-if=totalPayment()>
		  <thead>
		    <tr>
		        <th data-field="id">Monthly Mortgage</th>
		        <th data-field="price">Total Interest Paid</th>
		    </tr>
		  </thead>
		  <tbody>
		    <tr>
		      <td ng-if=totalPayment()><h2>Monthly Mortgage: {{totalPayment() | currency:"$"}}</h2></td>
		      <td ng-if=totalInterest()><h2>Total Interest Paid: {{totalInterest() | currency:"$"}}</h2></td>
		    </tr>
		  </tbody>
		</table>
	</div>
</div>